Prostgress processes:
<ul>
  {% for p in processes %}
    {#For full info about parameters of process go to tools/process #}
    <li>
        PID: {{ p["pid"] }}, CPU: {{ p["cpu_percent"] }}% <br>
        VSS Memory: {{p["vms_memory"]}} MB, RSS Memory: {{p["rss_memory"]}} MB <br>
        IO Read Count: {{p["io_read_count"]}}, IO Write Count: {{p["io_write_count"]}} <br>
        IO Read Bytes: {{p["io_read_bytes"]}}, IO Write Bytes: {{p["io_write_bytes"]}} <br>
    <br>
    </li>

  {% endfor %}
</ul>