
{#For full info about parameters of process go to tools/system #}

    {% if system["warring_cpu_load"] %}
        <div class="alert alert-danger" role="alert">
            <strong>WARNING!</strong> High CPU load, 95%
        </div>
    {% endif %}

    {% if system["warring_free_memory"] %}
        <div class="alert alert-danger" role="alert">
            <strong>WARNING!</strong> Low amount of free operative memory (less than 100 MB)
        </div>
    {% endif %}

    {% if system["warring_disk_space"] %}
        <div class="alert alert-danger" role="alert">
            <strong>WARNING!</strong> Low amount of free disk space (less than 10% of total)
        </div>
    {% endif %}

    System info:
    <ul>
        <li>Up time: {{ system["up_time"] }}</li>
        <li>CPU Load: {{ system["cpu_percent"]}}%</li>
        <li>Physical  memory: {{system["memory_physical"]}} Mb</li>
        <li>Available memory: {{system["memory_available"]}} Mb</li>
        <li>Disk space used percent: {{ system["disk_percent"]}}%</li>
        <li>Disk space total: {{system["disk_used"]}} Mb</li>
        <li>Disk space used: {{system["disk_used"]}} Mb</li>
        <li>Disk space free: {{system["disk_used"]}} Mb</li>
    </ul>
