{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block body %}
    <h5> Simple monitoring tool, available pages: </h5> <br>
    <a href="/status/">System wide information</a> <br>
    <a href="/pgstat/">Postgres statistic pages</a>
    <small>
        For additional info refers
        <a href="https://www.postgresql.org/docs/current/static/monitoring-stats.html">here</a>
        <br>
    </small>
    <a href="/executor/">SQL Query executor and explainer</a> <br>
{% endblock %}