{% extends "show.html" %}

{% block addition %}
<br><br>
<a href="{{obj.id}}/rooms" class="btn btn-outline-primary">Rooms</a>
<a href="{{obj.id}}/bookings" class="btn btn-outline-primary">Bookings</a>

{% endblock %}