{% extends "layout.html" %}
{% import 'bootstrap_forms.html' as macros %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block body %}
<h1>{{title}}</h1>

<div class="row mt-2">
    <div class="col-xs-12   col-sm-offset-2 col-sm-8    col-md-offset-3 col-md-6    col-lg-offset-3 col-lg-6">

    {% call macros.render_form(form, action_url=".", action_text='Save', class_='mt-1') %}
        {% for field in form %}
            {{ macros.render_field(field, label_visible=True, placeholder=field.name, value=obj|attr(field.name)) }}
        {% endfor %}
    {% endcall %}


    <a href="../../{{obj.id}}" class="btn btn-outline-primary">Return</a>
    {% block addition %}
    {% endblock %}

    </div>
</div>
{% endblock %}
