{% extends "layout.html" %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block body %}
<h1>{{title}} <span><a href="new/" class="btn btn-outline-primary float-xs-right">New</a></span></h1>

<div class="mt-2">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                {% for field in fields %}
                    <th>{{field}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
            <tr>
                <th scope="row">{{obj.id}}</th>
                {% for field in fields %}
                <td>
                    <a href="{{obj.id}}">{{obj[field]}}</a>
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if request.args.get('page', '')|int > 1 %}
<a href="./?page={{ request.args.get('page', '1')|int - 1}}">Prev</a>
{% endif %}
<a href="./?page={{ request.args.get('page', '1')|int + 1}}">Next</a>

{% block addition %}
{% endblock %}

{% endblock %}
