<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% import 'bootstrap_forms.html' as forms %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-title" content="HMS">
    <meta name="application-name" content="HMS">
    <meta name="theme-color" content="#ffffff">


    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}" sizes="16x16">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="manifest"  href="{{ url_for('static', filename='favicon/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tether.min.css'   ) }}">


    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js'   )}}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js'      )}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js'   )}}"></script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="container mt-1">
        <nav class="navbar navbar-light px-0">

            <a class="navbar-brand" href="{{ url_for('front.FrontView:index')}}">
                <img src="{{ url_for('static', filename='favicon/safari-pinned-tab.svg')}}" width="30" height="30" class="d-inline-block align-top rounded" alt="H">
                Book!
            </a>

            <ul class="nav navbar-nav">
                {% for page in ['hotels', 'users'] -%}
                    <li class="nav-item {% if request.url_rule.endpoint == url_for("%s.%sView:my_index" % (page, page.capitalize())) -%} active {%- endif %}">
                        <a class="nav-link" href="{{ url_for("%s.%sView:my_index" % (page, page.capitalize())) }}">
                            {{ page.capitalize() }} <span class="sr-only">(current)</span>
                        </a>
                    </li>
                {%- endfor %}
            </ul>

            {% if current_user.is_authenticated -%}
                {% call forms.render_form(None,
                    action_url=url_for('auth.AuthView:logout'),
                    action_text='Logout',
                    class_='form-inline float-xs-right',
                    btn_class="btn btn-outline-secondary") %}
                {%- endcall %}
            {% else %}
                {% if not request.url_rule.endpoint == 'auth.AuthView:index' -%}
                    <a href="{{ url_for('auth.AuthView:index') }}" class="btn btn-outline-primary float-xs-right">Login</a>
                {%- endif %}
            {% endif %}
        </nav>
    </div>


    {{ forms.render_messages(get_flashed_messages()) }}

    <div class="container mt-2">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>
