{% extends "layout.html" %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block body %}
<h1>{{title}}</h1>

<div class="row mt-2">
    <div class="col-xs-12   col-sm-offset-2 col-sm-8    col-md-offset-3 col-md-6    col-lg-offset-4 col-lg-4">

    <table class="table table-responsive table-sm">
        <tbody>
        {% for field in fields %}
            <tr>
                <th scope="row" style="border-top:none">
                    <p class="lead"><b>{{ field.capitalize() }}</b></p>
                </th>
                <td style="border-top:none">
                    <p class="lead">:</p>
                </td>
                <td style="border-top:none">
                    <p class="lead">{{ obj[field] }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{obj.id}}/edit" class="btn btn-outline-primary">Edit</a>
    <a href="{{obj.id}}/delete" class="btn btn-outline-primary">Delete</a>
    <a href="./" class="btn btn-outline-primary">Return</a>

    {% block addition %}
    {% endblock %}


    <!--<form method="post" action="{{obj.id}}/delete">-->
        <!--<button type="submit" class="btn btn-outline-primary">Delete</button>-->
    <!--</form>-->

    </div>
</div>

{% endblock %}
