{% extends "layout.html" %}
{% import 'bootstrap_forms.html' as macros %}

{% block head %}
<title>Welcome!</title>
{% endblock %}

{% block body %}
<h1>Welcome</h1>

<div class="row mt-2">
    <div class="col-xs-12   col-sm-offset-2 col-sm-8    col-md-offset-3 col-md-6    col-lg-offset-4 col-lg-4">

        <div class="bd-example bd-example-tabs" role="tabpanel">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#login" role="tab" aria-controls="home" aria-expanded="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="profile" aria-expanded="false">Sign Up</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div role="tabpanel" class="tab-pane fade active in" id="login" aria-labelledby="login-tab" aria-expanded="true">
                    {% call macros.render_form(login_form, action_url=url_for('auth.AuthView:login'), action_text='Login', class_='mt-1') %}
                        {{ macros.render_field(login_form.login, label_visible=false, placeholder='Login', type='text') }}
                        {{ macros.render_field(login_form.password, label_visible=false, placeholder='Password', type='password') }}
                    {% endcall %}
                </div>
                <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab" aria-expanded="false">
                    {% call macros.render_form(signup_form, action_url=url_for('auth.AuthView:signup'), action_text='Sign Up', class_='mt-1') %}
                        {{ macros.render_field(signup_form.name, label_visible=false, placeholder='Name', type='text') }}
                        {{ macros.render_field(signup_form.login, label_visible=false, placeholder='Login', type='text') }}
                        {{ macros.render_field(signup_form.password, label_visible=false, placeholder='Password', type='password') }}
                    {% endcall %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
