{% extends "layout.html" %}
{% import 'bootstrap_forms.html' as macros %}

{% block body %}

<div class="row mt-2">
    <div class="col-xs-12   col-sm-offset-2 col-sm-8    col-md-offset-3 col-md-6    col-lg-offset-4 col-lg-4">
                <div >
                    {% call macros.render_form(execute_form, action_url=url_for('executor.ExecutorView:execute'), action_text='Execute', class_='mt-1') %}
                        {{ macros.render_field(execute_form.query, label_visible=false, placeholder='', type='text') }}
                    {% endcall %}
                </div>

                <div>
                    {% call macros.render_form(explain_form, action_url=url_for('executor.ExecutorView:explain'), action_text='Exeplain', class_='mt-1') %}
                        {{ macros.render_field(explain_form.query, label_visible=false, placeholder='', type='text') }}
                    {% endcall %}
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}
