{% extends "layout.html" %}
{% import 'bootstrap_forms.html' as macros %}

{% block head %}
<title>BookingForm</title>
{% endblock %}

{% block body %}
<h1>Book a room</h1>

<div class="row mt-2">
    <div class="col-xs-12   col-sm-offset-2 col-sm-8    col-md-offset-3 col-md-6    col-lg-offset-3 col-lg-6">

        {% call macros.render_form(booking_form, action_url=".", action_text='Book a room', class_='mt-1') %}
            <div class="row px-1">
                <div class="pl-0 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <label>{{ booking_form.hotel.label }}</label>
                    {{ macros.render_field(booking_form.hotel, class="form-control", label_visible=False, placeholder=booking_form.name) }}
                </div>
                <div class="pr-0 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <label>{{ booking_form.beds.label }}</label>
                    {{ macros.render_field(booking_form.beds, class="form-control", type="number", label_visible=False, placeholder=booking_form.name, value=2) }}
                </div>
            </div>
            <div class="row px-1 my-1">
                <div class="pl-0 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label>{{ booking_form.check_in.label }}</label>
                    {{ macros.render_field(booking_form.check_in, class="form-control", type="date", label_visible=False, placeholder=booking_form.name) }}
                </div>
                <div class="pr-0 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label>{{ booking_form.check_out.label }}</label>
                    {{ macros.render_field(booking_form.check_out, class="form-control", type="date", label_visible=False, placeholder=booking_form.name) }}
                </div>
            </div>
        {% endcall %}

    </div>
</div>

{% endblock %}
