{% extends "layout.html" %}
{% import 'bootstrap_forms.html' as macros %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block body %}
<h1>{{title}}</h1>

<div class="row mt-2">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive" style="overflow: scroll;">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th class="">#Room [beds]</th>
                    {% for date in dates_range -%}
                        <th class="">{{ date }}</th>
                    {%- endfor%}
                </tr>
            </thead>
            <tbody>
                {% for room in rooms -%}
                    <tr>
                        <th class="">#{{ room.number }} [{{room.capacity}}]</th>

                        {% set roomloop = loop %}
                        {% for date in dates_range -%}
                            {% set dateloop = loop %}
                            {% set booking = matrix[dateloop.index0][roomloop.index0] %}
                            {% if booking -%}
                                <td class="bg-warning text-white">
                                    <a class="text-white" href="{{ booking.id }}">{{ booking.client_name }}</a>
                                </td>
                            {% else %}
                                <td class="bg-default "><a href="new">Free</a> </td>
                            {%- endif %}
                        {%- endfor  %}
                    </tr>
                {%- endfor %}

            </tbody>
        </table>

    </div>
</div>

<a href="../../" class="btn btn-outline-primary">Return</a>
{% endblock %}
