{% extends "layout.html" %}

{% block body %}
    <h5> Available pg_stat tables:  </h5> <br>
    {% for name in tables %}
        <a href="/pgstat/{{name}}">{{name}}</a> <br>
    {% endfor %}
{% endblock %}
