{% extends "layout.html" %}

{% block head %}
<title>{{title}}</title>
{% endblock %}

{% block body %}
<div class="mt-2">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                {% for field in fields %}
                    <th>{{field}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for obj in objects %}
            <tr>
                <th scope="row">{{obj.id}}</th>
                {% for field in fields %}
                <td> {{obj[field]}} </td>
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% block addition %}
{% endblock %}

{% endblock %}
